<div class="centered">
  <div class="error">
    <div class="logo">
      <img src="../../assets/logos/logo-120.png" alt="justasking.io">
      <span>justasking.io</span>
    </div>
    <div class="error-code">
      <h1>404</h1>
    </div>
    <div class="error-details">
      <h3>Woah! How'd you get here?</h3>
      <h3>The page you were looking for does not exist.</h3>
      <h3>Please retrace your steps or go home.</h3>
    </div>
    <div class="error-actions">
      <button
        mat-raised-button 
        routerLink="/dashboard"
        color="primary">
        Take me home
      </button>
    </div>
  </div>
</div>