@import '../../../core/core.theme.sass';
@import '../../../core/core.colors.sass';

.title{
    text-align: center;
}
mat-dialog-content{
    text-align: center;
    .welcome-img{
        margin: 20px 20px 30px 20px;
    }
    .features{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap; 
        mat-icon{
            margin-right: 5px;
        }
        .yes{
            font-weight: 700;
            color: #3d3d3d;
            mat-icon{
                color: map-get($core-green, 500);
            }
        }
        .no{
            mat-icon{
                color: lightgray;
            }
        }
    }
}
mat-dialog-actions{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    button{
        width: 100%;
    }
}

