<div class="centered">
  <div class="error">
    <div class="logo">
      <img src="../../assets/logos/logo-120.png" alt="justasking.io">
      <span>justasking.io</span>
    </div>
    <div class="error-code">
      <h1>500</h1>
    </div>
    <div class="error-details">
      <h3>Something has gone wrong!</h3>
      <h3>We have logged it and will look into it.</h3>
      <h3>If the issue persists please make sure to contact us at:</h3>
      <a href="mailto:contact@justasking.io">support@justasking.io</a>
    </div>
    <div class="error-actions">
      <button
        mat-raised-button 
        routerLink="/dashboard"
        color="primary">
        Take me home
      </button>
    </div>
  </div>
</div>