<form novalidate [formGroup]="forgotPasswordForm" *ngIf="!sentPasswordResetEmail; else followInstructions">
  <p class="sub-title">We will send you an email to reset your password</p>
  <div class="form-container">
    <mat-form-field class="login-field">
      <input matInput type="email" maxlength="128" formControlName="Email" placeholder="Email address">
      <mat-error *ngIf="forgotPasswordForm.controls.Email.invalid && (forgotPasswordForm.controls.Email.dirty || forgotPasswordForm.controls.Email.touched)">
        Please enter a valid email address
      </mat-error>
    </mat-form-field>
    <br>
    <button type="submit" color="primary" mat-raised-button class="sign-in-button" (click)="sendResetEmail(forgotPasswordForm.value)"
      [disabled]="forgotPasswordForm.invalid || processingService.processingAnimationIsActive">
      <span class="hidden-xs">Send email to reset password</span>
      <span class="hidden-lg hidden-md hidden-sm">Reset password</span>
    </button>
  </div>
</form>
<ng-template #followInstructions>
  <p class="follow-instructions">
    Please follow the instructions we just sent to your email to reset your password.
  </p>
  <br>
  <p>
    You may close this window.
  </p>
</ng-template>