@import '../../core/core.theme.sass';
@import '../../core/core.colors.sass';
 
.loading-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
} 

.quick-stats{
    display: flex;
    flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
    margin-top: 20px;
    .quick-stat-container{
        margin-bottom: 40px;
    }  
    .card-header-name{
        color: gray;
    }
}

.entries-container{
    .loading-entries{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .entries-section{
        margin-bottom: 40px; 
        mat-card-title{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            span{
                flex: 1;
            }
        } 
    }
    .entries{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .entry-card{
        box-shadow: none; 
        cursor: pointer;
        margin: 2px;
        display: flex;
        flex-direction: row;
        justify-content: center; 
        span{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        &:hover{
            background: whitesmoke;
            .icon-container{
                i{
                    display: inline-block; 
                }
            }
        } 
        .icon-container{
            min-height: 24px;
            height: 100%;
            width: 40px; 
            i{
                display: none;
                color: gainsboro;
                margin-left: 10px;
            }
        }
        .upvotes{
            padding: 0 0 0 10px;
            color: map-get($core-accent, 200);
            i{
                font-size: 10pt;                
            }
        }
        .downvotes{
            padding: 0 0 0 10px;
            color: map-get($core-warn, 200);
            i{
                font-size: 10pt;                
            }
        }
    }
    .entry-hidden{
        background: whitesmoke;
        .icon-container{
            i{
                color: map-get($core-warn, 500);
                display: inline-block; 
            }
        }
    }
}