@import '../../core/core.theme.sass';

.sub-title{
    margin: 0;
    color: rgba(0, 0, 0, 0.6);
    @media #{$screen-size-xs}{
        font-size: 8pt;
    }
} 
.form-container{
    margin: 30px 50px 0px 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
button{
    font-size:16px; 
    font-weight: 400;
    line-height: 50px;
    margin-top: 10px;
    padding: 0 20px;
    text-align: center;
    text-decoration: none;
    width: 100%;
}
.request-new-link{
    margin: 20px 0px;
    color: map-get($core-primary, 500);
    text-decoration: none;
}