<form 
  novalidate 
  [formGroup]="newPasswordForm"
  *ngIf="!newPasswordSaved; else newPasswordSavedTemplate">
  <p class="sub-title">Enter your new password</p>
  <div class="form-container">
    <mat-form-field class="signup-field">
      <input 
        matInput 
        maxlength="32" 
        type="password"  
        formControlName="Password"  
        placeholder="Password">
        <mat-error *ngIf="newPasswordForm.controls.Password.invalid && (newPasswordForm.controls.Password.dirty || newPasswordForm.controls.Password.touched)">
          Please enter at least 12 characters
        </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="signup-field">
      <input 
        matInput 
        maxlength="32" 
        type="password"  
        formControlName="ConfirmPassword" 
        placeholder="Password">
        <mat-error *ngIf="newPasswordForm.controls.ConfirmPassword.invalid && (newPasswordForm.controls.ConfirmPassword.dirty || newPasswordForm.controls.ConfirmPassword.touched)">
          Passwords do not match
        </mat-error>
    </mat-form-field>
    <br>
    <button 
      type="button"
      color="primary"  
      mat-raised-button
      class="sign-in-button" 
      (click)="saveNewPassword(newPasswordForm.value)"
      [disabled]="newPasswordForm.invalid || processingService.processingAnimationIsActive">
      Reset password
    </button>
    <a class="request-new-link" routerLink="/login/forgot-password">
      Request new link
    </a>
  </div>
</form> 
<ng-template #newPasswordSavedTemplate>
  <br>
  <p>Your new password has been set.</p>
  <br>
  <button color="primary" mat-raised-button routerLink="/dashboard">
    Continue
  </button>
</ng-template>
