<div class="coming-soon-container">
  <div class="coming-soon">
      <div class="coming-soon-header">
        <h2>Feedback</h2>
        <hr>
        <h1>Coming Soon</h1>
      </div>
      <br/>
      <div class="coming-soon-details">
        <h3>We're super close to releasing this feature!</h3> 
        <h3>Please hang tight in the meantime.</h3> 
      </div>
      <div class="coming-soon-actions">
        <button
          mat-raised-button 
          routerLink="/dashboard"
          color="primary">
          Take me home
        </button>
      </div>
    </div>
</div>