<div class="already-upgraded-container">
  <div class="already-upgraded">
    <div class="already-upgraded-header">
      <mat-icon>account_circle</mat-icon>
      <h2>Your account is already upgraded.</h2>
      <hr>
    </div>
    <div class="already-upgraded-details">
      <p>Please contact us if you would like to make changes to your account plan.</p>
    </div>
    <div class="already-upgraded-actions">
      <a mat-button color="primary" href="mailto:contact@justasking.io">contact@justasking.io</a>
    </div>
  </div>
</div>