<div class="user" *ngIf="user">
  <img 
    class="profile" 
    src="{{user.ImageUrl}}"
    (error)="setDefaultAvatar($event)"
    [matMenuTriggerFor]="accountMenu" 
    alt="user image">
  <mat-menu #accountMenu="matMenu">
    <div class="user-menu">
      <div class="user-details">
        <h3>{{user.FirstName}} {{user.LastName}}</h3>
        <p class="user-email">{{user.Email}}</p>
        <button mat-button routerLink='/dashboard/boxes' color="primary">
          Polls
        </button>
        <button mat-button routerLink='/dashboard/account' color="primary">
          Account
        </button>
        <button (click)="logout()" mat-button color="primary">
          Logout
        </button>
        <hr>
        <div class="current-plan">
          <div class="plan-img">
            <img 
              [src]="user.MembershipDetails.ImagePath" 
              alt="Current Plan">
          </div>
          <p>{{user.MembershipDetails && user.MembershipDetails.DisplayName}}</p>
        </div>
        <button *ngIf="user.MembershipDetails.Price < 1" mat-raised-button routerLink='/dashboard/account/upgrade' color="primary">
          Go PREMIUM
        </button>
      </div>
    </div>
  </mat-menu>
</div>